*

!.gitignore

!.npmignore

!.npmrc

!.editorconfig

!LICENSE

!*.sh
!*.json
!*.md
!*.txt
!*.xml
!*.list
!*.yaml
!*.template
!*.configure
!*.dockerfile

!*.js
!*.mjs
!*.html
!*.css

!*.ico
!*.jpg
!*.jpeg
!*.png
!*.gif
!*.svg

!*/

!*/.gitignore

!*/.npmignore

!*/.npmrc

!*/.editorconfig

!*/LICENSE

!*/*.sh
!*/*.json
!*/*.md
!*/*.txt
!*/*.xml
!*/*.list
!*/*.yaml
!*/*.template
!*/*.configure
!*/*.dockerfile

!*/*.js
!*/*.mjs
!*/*.html
!*/*.css

!*/*.ico
!*/*.jpg
!*/*.jpeg
!*/*.png
!*/*.gif
!*/*.svg

grass/*
grass/**/*.*
!grass/*.gpg
!grass/**/*.gpg

package-lock.json

node_modules
node_modules/**/*.*
